
<div class="modal-body mx-3">
    <div class="md-form mb-5">
        <i class="fas fa-user prefix black-text"></i>
        <form action={{form_action}} method="POST">
        {{#each column_name}}
        
            {{#ifCond this.DATA_TYPE "text"}}
            <label data-error="wrong" data-success="right" for="orangeForm-name" class="modal-text">{{this.COLUMN_NAME}}</label>
            <input type="text" class="form-control validate"><br>
            {{/ifCond}}

            {{#ifCond this.DATA_TYPE "varchar"}}
            <label data-error="wrong" data-success="right" for="orangeForm-name" class="modal-text">{{this.COLUMN_NAME}}</label>
            <input type="text" class="form-control validate"><br>
            {{/ifCond}}

            {{#ifCond this.DATA_TYPE "date"}}
            <label data-error="wrong" data-success="right" for-"orangeForm-name" class="modal-text">{{this.COLUMN_NAME}}</label>
            <input type="date" class="form-control validate"><br>
            {{/ifCond}}

            {{#ifCond this.DATA_TYPE "time"}}
            <label data-error="wrong" data-success="right" for-"orangeForm-name" class="modal-text">{{this.COLUMN_NAME}}</label>
            <input type="time" class="form-control validate"><br>
            {{/ifCond}}

            {{#ifCond this.COLUMN_KEY "MUL"}}
            <label data-error="wrong" data-success="right" for-"orangeForm-name" class="modal-text">{{this.COLUMN_NAME}}</label>
            <select id="add-villager" class="drop-down">
            {{#each this.UNIQUE_VALUES}}
                <option value={{this.value}}>{{this.label}}</option>
            {{/each}}
            </select><br>
            {{/ifCond}}

        {{/each}}

        {{#ifCond table_name "personality"}}
            <label data-error="wrong" data-success="right" for-"orangeForm-name" class="modal-text">Compatible with</label><br>
            <div class="checkboxes">
            {{#each record}}
                <input type="checkbox" id="checkbox" name="checkbox" value="{{this.name}}">
                <label for="cranky" class="modal-text">{{this.name}}</label>
            {{/each}}
            </div>
        {{/ifCond}}
        <br><br><input type="submit"></form>
    </div>
</div>

