<div class="col mt-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Birthday: {{this.birthday}}</li>
      <li class="list-group-item">Hobby: {{this.hobby}}</li>
      <li class="list-group-item">Species: {{this.species}}</li>
    </ul>
    <div class="card-body">
      Personality: <a href="#" class="card-link">{{this.personality}}</a>
    </div>
  </div>
</div>