<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

<div class="island-input">
    <form class="form-inline" action="{{url}}" method="POST">
        <div class="island-dropdown">
        <select name="islandID" class="form-control form-control-md mr-3 w-75" id="island-values">
                {{#each data.island_vals}}
                    <option value="{{this.islandID}}">{{this.name}}</option>
                {{/each}}
        </select>
        </div>
        <div class="island-btn">
        <button class="btn btn-light btn-md btn-block input-group-btn" type="submit">go!</button>
        </div>
    </form>
</div>

<h3>{{title.future}}</h3>
<div class="carousel-wrapper">
    <div class="carousel" data-flickity='{"pageDots": false, "wrapAround": true}'>
        {{#if data_name}}
            {{#each data.available}}
                {{>facility_card this}}
            {{/each}}
        {{else}}
            {{#each data.available}}
                {{>villager_card this}}
            {{/each}}
        {{/if}}
    </div>
</div>
<br>
<h3>{{title.current}}</h3>
<div class="carousel-wrapper">
    <div class="carousel" data-flickity='{"pageDots": false, "contain": true, "cellAlign": "left", "freeScroll": true}'>
        {{#if data_name}}
            {{#each data.current}}
                {{>facility_card this}}
            {{/each}}
        {{else}}
            {{#each data.current}}
                {{>villager_card this}}
            {{/each}}
        {{/if}}
    </div>
</div>

{{#each data.personalities}}
    {{>personality-modal this}}
{{/each}}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'left'
    });
});
</script>